<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Paulin Zumstein</span>
                <h1 class="mt-4">Software junior enginer</h1>
                <p class="p-des mt-3 mb-4">Hi guys here is my presentation paragraf. So bla bl bla bla bla bla </p>
                <a href="#" class="p-readmore">Read more about me <img src="assets/img/play.png" alt="Icon for read more" width="15" class="ml-2" />
                </a>
            </div>
        </div>
    </div>
</section>